* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 100%;
	text-align: center;
	color: #ffce5d;
	/* background-color: #f8f8f8; */
	background: linear-gradient(135deg, hsl(160, 94%, 19%), #124534);
	background-attachment: fixed;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	/* border: 1px solid black; */
	min-width: 200px;
}

.nav a {
	color: #fff;
	text-decoration: none;
}

.list-container {
	border-radius: 1em;
	/* border: 1px solid black; */
	margin: 1rem 2rem;
	background-color: #adc8bf;
	color: black;
	box-shadow: 5px 5px 5px black;
	overflow: hidden;
}

#signin-list {
	display: flex;
	flex-direction: column-reverse;
	/* border: 1px solid black; */
}

.list-item-title {
	display: flex;
	/* border: 1px dotted black; */
	border-bottom: 1px solid black;
	background-color: #ffce5d;
	font-weight: bold;
}

.list-item {
	display: flex;
	background-color: #d7e4e0;
	/* border: 1px dotted black; */
}

.list-item:nth-child(even) {
	display: flex;
	background-color: #adc8bf;
	/* background-color: red; */
}
.name {
	display: flex;
	margin-left: 1rem;
	align-items: center;
	width: 15vw;
}

.grade {
	display: flex;
	margin-left: 1rem;
	align-items: center;
	width: 5vw;
}

.sid {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	margin-left: 1rem;
	align-items: center;
	width: 10vw;
}

.problem {
	width: 17vw;
	display: flex;
	flex-flow: column;
	margin-left: 1rem;
	align-items: center;
}

.notes {
	display: flex;
	margin-left: 1rem;
	align-items: center;
	width: 17vw;
}

.time {
	display: flex;
	margin-left: 1rem;
	align-items: center;
	width: 25vw;
}

.controls {
	display: flex;
	margin-left: 1rem;
	justify-content: center;
	align-items: center;
	width: 11vw;
}

.fi-xnsuxl-edit-solid {
}

.fi-cwsuxl-check {
	color: green;
}

.fi-xnsuxl-trash-bin {
	color: darkred;
}

.hide {
	display: none;
}

.controls img {
	height: 25px;
}
